<template>
    <div>
        <h1 class="text-center display-4 my-8">The Internet We Deserve</h1>

        

        
    </div>
</template>

<script>
    export default {
        data: () => ({
            page: 1,
            posts: '',
        }),

        methods: {

        },

        mounted() {
            
        }
    }
</script>